.recent-notes {
  & > h3 {
    margin: 0.5rem 0 0 0;
    font-size: 1rem;
  }

  & > ul.recent-ul {
    list-style: none;
    margin-top: 1rem;
    padding-left: 0;

    & > li {
      margin: 0.4rem 0;
      .section > .desc > h3 {
        font-family: var(--bodyFont);
        font-weight: normal;
        margin: 0;
      }

      .section > .desc > h3 > a {
        background-color: transparent;
      }

      .section > .meta {
        margin: 0;
        opacity: 0.6;
      }
    }
  }
}
